@import 'tailwindcss';

:root {
    --oki-gray: #c0c0c0;
    --oki-blue: #000080;
    --oki-text: #000000;
    --oki-white: #ffffff;
    --oki-dark: #808080;
    /* å½± */
    --oki-black: #000000;
}

html, body, #root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}