@import 'tailwindcss';

:root {
    --oki-gray: #c0c0c0;
    --oki-blue: #000080;
    --oki-text: #000000;
    --oki-white: #ffffff;
    --oki-dark: #808080;
    /* 影 */
    --oki-black: #000000;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html, body, #root {
    --wails-drop-target: drop; 
}

body.force-smoothing,
body.force-smoothing * {
    /* スムージングを強制的に有効化 */
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

fieldset {
    border-width: 2px;
    padding: 10px;
    padding-block-start: 8px;
    margin: 0;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='5' height='5' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h5v5H0V2h2v1h1V2H0' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h4v4H0V1h1v2h2V1H0'/%3E%3C/svg%3E") 2 !important;
}

.status-prog{
    height: 16px;
}

.process-pad{
    background-color: red;
}

/* プログレスバーが伸びるアニメーション */
@keyframes progress-loading {
  from { width: 0%; }
  to { width: 100%; }
}

/* 3秒かけて100%まで伸び、そのまま停止するクラス */
.animate-progress-bar {
  animation: progress-loading 3s ease-out forwards;
}
