@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

html {
    background-color: rgba(27, 38, 54, 1);
}

body {
    margin: 0;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

